<div class="somos">
    <h1>Quem Somos?</h1>
    <p>Tatá Recreação Infantil é uma empresa prestadora de serviços artísticos voltados para o público infantil. Com anos de experiência, atendemos pessoas físicas, buffets, escolas, hospitais, agências, lojas e festas corporativas. Oferecemos entretenimento completo para festas e eventos infantis, incluindo recreação, personagens vivos, maquiagem artística, escultura com balões e muito mais. Além disso, realizamos eventos temáticos, como Natal, Páscoa e Dia das Crianças. Conte com a Tatá Recreação Infantil para trazer muita alegria e diversão à sua festa!</p>
    <img src="../../../assets/img/Logo-tata.png" alt="Foto com o Logo da Tatá">
</div>