<section>

    <h1>Contato</h1>
    
    <div class="link">    
        <a href="">
            <img src="../../../assets/img/email-logo-png-1125.png" alt="E-mail">
            E-mail</a>
        <a href="">
            <img src="../../../assets/img/pngwing.com (5).png" alt="Facebook">
            Facebook</a>
        <a href="../../../assets/img/pngwing.com (4).png">
            <img src="../../../assets/img/pngwing.com (4).png" alt="Instagram">
            Instagram</a>
        <a href="">
            <img src="../../../assets/img/pngfind.com-herbalife-24-png-6834436.png" alt="whats">
            Quero fazer um orçamento</a>
    </div>

</section>