<section>

    <h1>Contato</h1>
    
    <ul>
        <div class="link">
            <li class="redes">
                <a href="">
                    <img src="../../../assets/img/email-logo-png-1125.png" alt="E-mail">
                    E-mail</a>
            </li>
            <li class="redes">
                <a href="">
                    <img src="../../../assets/img/pngwing.com (5).png" alt="Facebook">
                    Facebook</a>
            </li>
            <li class="redes">
                <a href="">
                    <img src="../../../assets/img/pngwing.com (4).png" alt="Instagram">
                    Instagram</a>
            </li>
            <li class="redes">
                <a href="">
                    <img src="../../../assets/img/pngfind.com-herbalife-24-png-6834436.png" alt="whats">
                    Quero fazer um orçamento</a>
            </li>
        </div>
    </ul>

</section>