<header>
    <div class="logo">
        <img class="foto" src="../../../assets/img/Logo-tata.png" alt="Logo da Tatá">
        <div class="orçamento">
         <a class="string" href="https://wa.me//5511943179194?text= Olá tudo bem? Poderia me falar mais sobre?" target="_blank">Solicite um Orçamento</a>
        <img class="whats" src="../../../assets/img/pngfind.com-herbalife-24-png-6834436.png" alt="simbulo do Whatsapp">
        </div>
    </div>
    
        <nav>
            <a href="../../app.component.html">Home</a>
            <a href="../quem.somos/quem.somos.component.html">Quem Somos</a>
            <a href="../main/section-brincadeiras/section-brincadeiras.component.html">Brincadeiras</a>
            <a href="../contato/contato.component.html">Contato</a>
        </nav>
  
    
</header>

