<section>
    <h1>Nossos Serviços</h1>

    <div class="brincadeiras">
        <h1>Brincadeiras</h1>
    </div>
    <div class="oficinas">
        <h1>Oficinas</h1>
    </div>
    <div class="torneio">
        <h1>Torneio de futebol</h1>
    </div>
    <div class="camarim">
        <h1>Camarim Sashion</h1>
    </div>
    <div class="baby">
        <h1>Espaço Baby</h1>
    </div>
    <div class="torta">
        <h1>Torta na Cara</h1>
    </div>
    <div class="baladinha">
        <h1>Baladinha Animada</h1>
    </div>
    <div class="pintura">
        <h1>Pintura Facial</h1>
    </div>
    <div class="balao">
        <h1>Escultora em balão</h1>
    </div>
</section>